<!DOCTYPE html>
<html>
  <head>
    <title>FastGram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.androidURL = "<%= image_url('android.png') %>"
      window.appleURL = "<%= image_url('apple.png') %>"
      window.background_phoneURL = "<%= image_url('phone_background.png') %>"
      window.phoneURL = "<%= image_url('phone_1.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
