<!DOCTYPE html>
<html>
  <head>
    <title>the gram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'application/favicon' %>
    <script type="text/javascript">
      window.androidURL = "<%= image_url('android.png') %>"
      window.appleURL = "<%= image_url('apple.png') %>"
      window.background_phoneURL = "<%= image_url('phone_background.png') %>"
      window.phoneURL_0 = "<%= image_url('phone_0.png') %>"
      window.phoneURL_1 = "<%= image_url('phone_1.png') %>"
      window.phoneURL_2 = "<%= image_url('phone_2.png') %>"
      window.phoneURL_3 = "<%= image_url('phone_3.png') %>"
      window.defaultPhoto = "<%= image_url('default_user.jpeg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
